*npy filter=lfs diff=lfs merge=lfs -text
app_gradio/inference/coco_annotations/captions_train2014.json filter=lfs diff=lfs merge=lfs -text
app_gradio/inference/coco_annotations/mscoco_train2014_annotations.json filter=lfs diff=lfs merge=lfs -text
